# Virtual environment directory
llm_env/

# Logs and runtime files
*.log

# Sensitive configuration files
config.json

# macOS-specific files
.DS_Store

# Editor-specific files
.vscode/
.idea/

# Python cache files
__pycache__/
*.py[cod]

# Temporary files
*.tmp
*.swp
*.bak
*.old

# Package files
*.egg
*.egg-info/
dist/
build/

# Test files
test.py